.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.text-box {
  background-color:rgba(186, 199, 194, 0.9); /* Cor de fundo preto com transparência de 0.7 */
  border: 2px rgba(186, 199, 194, 0.9); /* Borda preta com transparência de 0.7 */
  padding: 20px;
  border-radius: 8px;
  width: 90%; /* Ajuste o valor da largura conforme necessário */
  margin: 0 auto; /* Centraliza horizontalmente o quadrado na tela */
  line-height: 1.5em;
  color: #2c2c35;
  font-size: 16px;
}

.text-box-mapa {
  background-color:rgba(186, 199, 194, 0.9); /* Cor de fundo preto com transparência de 0.7 */
  border: 2px rgba(186, 199, 194, 0.9); /* Borda preta com transparência de 0.7 */
  padding: 20px;
  border-radius: 8px;
  width: 80%; /* Ajuste o valor da largura conforme necessário */
  margin: 0 auto; /* Centraliza horizontalmente o quadrado na tela */
  line-height: 1.5em;
  color: #2c2c35;
  font-size: 16px;
}

body {
  background: url('./assets/brand/yuccamystic.gif') center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-label {
  height: 8px;
  font-size: 14px;
}

.custom-form {
  height: 42px;
}

.custom-button {
  height: 35px;
  font-size: 16px;
  background-color: #884d46;
  border-color:#884d46;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.whatsapp-button {
  background-color: #25D366;
  color: #fff;
  border-color: #25D366
}

.bg-black {
  background-color: #25D366;
  color: #fff;
  border-color: #25D366;
  align-self: flex-end;
}

h5{
  margin-top:  -1%;
}